<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">


    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDCJYLqPoA6Irb_FIg5Bh28QAM58G_Qlrk",
        authDomain: "kintaiapp-2006e.firebaseapp.com",
        databaseURL: "https://kintaiapp-2006e.firebaseio.com",
        projectId: "kintaiapp-2006e",
        storageBucket: "kintaiapp-2006e.appspot.com",
        messagingSenderId: "656106544976"
      };
      firebase.initializeApp(config);
    </script>

    <script>
    var _this;
    ons.bootstrap()
      .controller('HelloController', function($timeout) {
          
        _this = this;
        this.newMail;
        this.newPassword;
        this.mail;
        this.password;
        this.isLoggedIn;
        this.$timeout = $timeout;
     
        // 新規ユーザ登録
        this.regi = function() {
          // 新規ユーザーの登録機能
          firebase.auth().createUserWithEmailAndPassword(this.newMail, this.newPassword).catch(function(error) {
            alert(error.message);
          });
        }
     
        // ログイン
        this.login = function() {
          // 新規ユーザーの登録機能
          firebase.auth().signInWithEmailAndPassword(this.mail, this.password).catch(function(error) {
            alert(error.message);
          });
        }
     
        // ログイン
        this.google = function() {
            
          // 標準ブラウザを開く
          // var ref = cordova.InAppBrowser.open('http://apache.org', '_system', 'location=no');
          
            // Using a redirect.
            firebase.auth().getRedirectResult().then(function(result) {
              if (result.credential) {
                // This gives you a Google Access Token.
                var accessToken = result.credential.accessToken;
                var refreshToken = result.credential.refreshToken;
                console.log('Google refreshToken = ' + refreshToken);
                console.log('Google accessToken = ' + accessToken);
              }
              var user = result.user;
            });
    
            // Start a sign in process for an unauthenticated user.
            var provider = new firebase.auth.GoogleAuthProvider();
            provider.addScope('profile');
            provider.addScope('email');
            firebase.auth().signInWithRedirect(provider);
    
                // var user = firebase.auth().currentUser;
                // var providerData = user.providerData;
                //   
                // for (var i = 0; i < providerData.length; i++) {
                //     if (providerData[i].providerId === firebase.auth.GoogleAuthProvider.PROVIDER_ID) {
                //         console.log('Google UID = ' + providerData[i].uid);
                //         console.log('Google displayName = ' + providerData[i].displayName);
                //         console.log(providerData[i]);
                //         // We don't need to reauth the Firebase connection.
                //             // return true;
                //     }
                // }
          
        }
     
        // ログアウト
        this.logout = function() {
          firebase.auth().signOut();
        }
      });
      
    ons.ready(function() {
        
      // 認証状態変更検知
      firebase.auth().onAuthStateChanged(function(user) {
        _this.$timeout(function() {
            
          if (user) {
            console.log("USERID = " + user.uid);
            user.getToken(true).then(function(token) {
             // Send 'token' (string) to backend directly
               console.log(token);
            }).catch(function(error) {
                // console.log(error)
            });;
              
            //ログイン中のユーザー情報
            var providerData = user.providerData;
            
            //   
            // for (var i = 0; i < providerData.length; i++) {
            // if (providerData[i].providerId === firebase.auth.GoogleAuthProvider.PROVIDER_ID) {
            //     console.log('Google UID = ' + providerData[i].uid);
            //     console.log(providerData[i].credential);
            //     // We don't need to reauth the Firebase connection.
            //         // return true;
            //       }
            // 
            
              
            // ログイン状態
            _this.isLoggedIn = true;  //ここに画面遷移を描いてもいい
          } else {
            // ログアウト状態
            _this.isLoggedIn = false;
          }
        })
      });
    });
    </script>

</head>
<body>
  <ons-page ng-controller="HelloController as hello">
    <ons-toolbar>
      <div class="center">ログイン</div>
    </ons-toolbar>
    <section style="margin: 10px;" ng-hide="hello.isLoggedIn">
      <p>メールアドレス</p>
      <p>
        <ons-input modifier="underbar" ng-model="hello.newMail" placeholder="メールアドレス" float></ons-input>
      </p>
      <p>パスワード</p>
      <p>
        <ons-input modifier="underbar" ng-model="hello.newPassword" placeholder="password" type="password" float></ons-input>
      </p>
      <ons-button ng-click="hello.regi()">新規登録</ons-button>
    </section>
    <section style="margin: 10px;" ng-hide="hello.isLoggedIn">
      <p>メールアドレス</p>
      <p>
        <ons-input modifier="underbar" ng-model="hello.mail" placeholder="メールアドレス" float></ons-input>
      </p>
      <p>パスワード</p>
      <p>
        <ons-input modifier="underbar" ng-model="hello.password" placeholder="password" type="password" float></ons-input>
      </p>
      <ons-button ng-click="hello.login()">ログイン</ons-button>
    </section>
    <section style="margin: 10px;" ng-show="hello.isLoggedIn">
      <ons-button ng-click="hello.google()">Google連携</ons-button>
      <ons-button ng-click="hello.logout()">ログアウト</ons-button>
      
    </section>
  </ons-page>

</html>
